$backgroundColor: hsl(216deg 100% 97.06%);
$whiteColor: #fff;
$textColor: hsl(213.41deg 95.65% 18.04%);
$lightGrayColor: hsl(229, 24%, 87%);
$sideColor: hsl(231.43deg 11.11% 62.94%);
$otherSideColor: hsl(0deg 0% 45.88%);
$redColor: hsl(353.8deg 83.64% 56.86%);
$lightBlueColor: hsl(206.13deg 93.94% 87.06%);
$lighterBlueColor: hsl(217, 100%, 97%);
$blueColor: hsl(243.09deg 100% 61.96%);
